In [1]:
l = ["graps", "orange", "mango"]
for i in l:
  print(l[0])

graps
graps
graps

In [2]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [3]:
fruits = ["graps", "orange", "mango"]
for x in fruits:
  if x != "mango":
    break
  print(x)

In [4]:
fruits = ["graps", "orange", "mango"]
for x in fruits:
  if x == "mango":
    break
  print(x)

graps
orange

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [6]:
for i in range(0,20,4):
  print(i)

0
4
8
12
16

In [7]:
a = "netal"
for i in a[::-1]:
  print(i)

l
a
t
e
n

In [9]:
l = [3,4,5,6]
for i in l[::-1]:
  print(i)

6
5
4
3

In [10]:
a = "pranshu"
a[::-1]

'uhsnarp'

In [11]:
a= "pranshu"
for i in a[::-1]:
  print(i)

u
h
s
n
a
r
p

In [12]:
for x in range(1,6):
  print(x)

1
2
3
4
5

In [13]:
dict1 = { 1 : "Rinku", 2: "Payal", 3:"Neeta", 4:"Homal", 5: "Ila", "njn":"mkljhgf"}
dict1.keys()
dict1.values()

dict_values(['Rinku', 'Payal', 'Neeta', 'Homal', 'Ila', 'mkljhgf'])

In [14]:
for i in dict1.keys():
  print(i)

1
2
3
4
5
njn

In [15]:
for i in dict1.values():
  print(i)

Rinku
Payal
Neeta
Homal
Ila
mkljhgf

In [1]:
l = [2,3,4,'jh','hh',9]

In [2]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [3]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [4]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [5]:
for x in [0, 1, 2]:
  pass

In [6]:
s = "My name is netal"
for i in s :
    if i == 's':
        print(" i got s as a string ")
    print(i)

M
y

n
a
m
e

i
 i got s as a string
s

n
e
t
a
l

In [7]:
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 'u':
        print("last char was u ")
    print("this is a else condtion ")

M
y

a
m
e

i
s

e
t
a
l
this is a else condtion

In [8]:
s =  "bit infotech"
ss = ""
for i in range(len(s)):
    if s[i] == "b":
        continue
    else :
        ss = ss + s[i]

In [9]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [10]:
# program to display student's marks from record

student_name = 'Ankur'

marks = {'Pinakin': 90, 'Mehul': 55, 'Manav': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

In [11]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print("\n")

Enter number of rows: 6
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

In [12]:
rows = int(input("Enter number of rows: "))

ascii_value = 65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end=" ")
    
    ascii_value += 1
    print("\n")

Enter number of rows: 6
A

B B

C C C

D D D D

E E E E E

F F F F F F

In [13]:
rows = int(input("Enter number of rows: "))

#ascii_value = 65

for i in range(rows):
    for j in range(65,65+i):
        #alphabet = chr(ascii_value)
        print(chr(j), end=" ")
    
    #ascii_value += 1
    print("\n")

Enter number of rows: 5


A

A B

A B C

A B C D

In [14]:
rows = int(input("Enter number of rows: "))

#ascii_value = 65

for i in range(rows,0,-1):
    for j in range(65,65+i):
        #alphabet = chr(ascii_value)
        print(chr(j), end=" ")
    
    #ascii_value += 1
    print("\n")

Enter number of rows: 5
A B C D E

A B C D

A B C

A B

A

In [15]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(0, i):
        print("* ", end=" ")
    
    print("\n")

Enter number of rows: 5
*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

In [16]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(1, i):
        print(j, end=" ")
    
    print("\n")

Enter number of rows: 5
1 2 3 4

1 2 3

1 2

1

In [17]:
n=6
d=range(n, 0, -1)
d

range(6, 0, -1)

In [18]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    
    print("\n")

Enter number of rows: 5
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [19]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 4
      *
    * * *
  * * * * *
* * * * * * *

In [20]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 1, -1):
    for space in range(0, rows-i):
        print("  ", end="")
    for j in range(i, 2*i-1):
        print("* ", end="")
    for j in range(1, i-1):
        print("* ", end="")
    print()

Enter number of rows: 4
* * * * *
  * * *
    *

In [21]:
            # Floyd's Triangle

rows = int(input("Enter number of rows: "))
number = 1

for i in range(1, rows+1):
    for j in range(1, i+1):
        print(number, end=" ")
        number += 1
    print()

Enter number of rows: 4
1
2 3
4 5 6
7 8 9 10

In [22]:
n=5;i=0
while(i<=n):
  print(" " * (n - i) +"*" * i)
  i+=1

    *
   **
  ***
 ****
*****

In [23]:
h = 5
for row in range(1, h+ 1):
    print(" " * (h - row) +"*" * row)

    *
   **
  ***
 ****
*****

In [24]:
          # Height should be enter in meter

H = float(input("Enter the height of the person"))
W = float(input("Enter the weight of the person"))

BMI = (W / (H * H))

print(BMI, " is the BMI for the person")

Enter the height of the person1.60
Enter the weight of the person60
23.437499999999996  is the BMI for the person

In [25]:
i = 1
j = 5
while i < j:
  print(i * '*')
  i = i+1

*
**
***
****

In [26]:
initial_speed  = 0
final_speed = 100
count = 1
while initial_speed < final_speed:
  print("This is my current speed")
  count = count + 1
  if count == 5:
    break

This is my current speed
This is my current speed
This is my current speed
This is my current speed

In [27]:
notes  = 5 
sum = 1
while sum < notes:
  print(sum)
  sum = sum + 1
print("No, Rs. 10 notes are available")

1
2
3
4
No, Rs. 10 notes are available

In [28]:
h = 'Ankur'
for i in h:
  print(i)

A
n
k
u
r

In [30]:
s = "netal"
ch = len(s) -1
while ch >= 0 :
    print(s[ch])
    ch = ch -1

l
a
t
e
n

In [31]:
s = "netal"
new = s.replace("a" , "this is a")
print(s)
print(new)

netal
netthis is al

In [32]:
name = "bitinfotech"
vowels = "AaEeIiOoUu"

for i in name :
    if i in vowels:
        print("{} is a vowel".format(i))
    else :
        print("{} is not a vowel".format(i))

b is not a vowel
i is a vowel
t is not a vowel
i is a vowel
n is not a vowel
f is not a vowel
o is a vowel
t is not a vowel
e is a vowel
c is not a vowel
h is not a vowel

In [34]:
s = input("enter a data for which you would like to check pelindrom " )
s1 = s[::-1]
if s ==s1:
    print("its a same ")
else :
    print("its not a same ")

enter a data for which you would like to check pelindrom kanak
its a same